<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="sk">
    <head th:fragment="htmlHeader">
        <title>Recipes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{'/css/fontawesome/css/fontawesome.min.css'}">
        <link rel="stylesheet" th:href="@{'/css/fontawesome/css/solid.min.css'}">
        <link rel="stylesheet" th:href="@{'/css/w3.css'}">
        <link rel="stylesheet" th:href="@{'/css/quill.snow.css'}">
        <link rel="stylesheet" th:href="@{'/css/style.css'}">
        <!--<script th:src="@{'/js/jquery-3.5.1.min.js'}"></script>-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script th:src="@{'/js/quill-1.3.7.min.js'}"></script>
        <script th:src="@{'/js/quill-paste-smart-1.0.5.min.js'}"></script>
        <script th:src="@{'/js/quill-config.js'}"></script>
        <script th:src="@{'/js/form-controller.js'}"></script>
        <script th:src="@{'/js/sidebar.js'}"></script>
    </head>
    <body>
        <nav th:fragment="menu(content)" onmouseleave="closeSidebar()" class="w3-sidebar w3-bar-block w3-border-right w3-animate-left menu" id="mySidebar">
            <div class="w3-button w3-padding-16 w3-left" onclick="closeSidebar()"><i class="fas fa-angle-double-left"></i></div>
            <a th:href="|javascript:load('content', '@{'/admin/user/all'}');|" onclick="closeSidebar()" class="w3-bar-item w3-button" sec:authorize="hasRole('ADMIN')"><i class="fas fa-user icon"></i> Users</a>
            <a th:href="|javascript:load('content', '@{'/admin/category/all'}');|" onclick="closeSidebar()" class="w3-bar-item w3-button" sec:authorize="hasRole('ADMIN')"><i class="fas fa-list icon"></i> Categories</a>
            <a th:href="|javascript:load('content', '@{'/admin/unitcategory/all'}');|" onclick="closeSidebar()" class="w3-bar-item w3-button" sec:authorize="hasRole('ADMIN')"><i class="fas fa-prescription-bottle icon"></i> Units</a>
            <a th:href="|javascript:load('content', '@{'/recipe/add'}');|" onclick="closeSidebar()" class="w3-bar-item w3-button" sec:authorize="hasRole('USER')"><i class="fas fa-pizza-slice icon"></i> Add recipe</a>
            <hr sec:authorize="isAuthenticated()">
            <a th:href="|javascript:load('content', '@{'/view/categoriesPreview'}');|" onclick="closeSidebar()" class="w3-bar-item w3-button">Homepage</a>
            <hr>
            <div id="categoryLinks">
                <th:block th:each="category, rowStat : ${allCategoriesWithRecipes}">
                    <a th:href="|javascript:load('content', '@{'/view/recipesByCategory/__${category.id}__'}');|" onclick="closeSidebar()" class="w3-bar-item w3-button" th:text="${category.name}" th:classappend="${rowStat.last} ? 'margin-bottom-32'">Category name</a>
                </th:block>
            </div>
        </nav>
        <header id="header" th:fragment="header" class="w3-top w3-card transparent-white">
            <div class="w3-button w3-padding-16 w3-left" onclick="openSidebar()"><i class="fas fa-bars"></i></div>
            <div class="w3-right w3-padding-16 padding-right" sec:authorize="!isAuthenticated()">
                <a th:href="@{'/login.html'}"><i class="fas fa-sign-in-alt"></i></a>
            </div>
            <div class="w3-right w3-padding-16 padding-right" sec:authorize="isAuthenticated()">
                <a th:href="|javascript:load('content', '@{'/user/profile'}');|"><b sec:authentication="name"></b><span> </span></a>
                <a th:href="@{'/logout'}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
            <div class="w3-center w3-wide w3-large page-title">My Cookery Book</div>
        </header>
    </body>
</html>