<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="sk">
    <head th:replace="fragments/common :: htmlHeader">
    </head>
    <body>
        <form method="post" th:if="${recipeSO!=null}" id="recipeForm" action="javascript:void(0);" th:object="${recipeSO}" th:fragment="recipeForm">
            <h2 class="w3-center" th:if="*{id==null}" th:text="#{recipe.add}">Add recipe</h2>
            <h2 class="w3-center" th:if="*{id!=null}" th:text="#{recipe.edit}">Edit recipe</h2>
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{creator}"/>
            <input type="hidden" th:field="*{created}"/>
            <input type="hidden" th:field="*{modifier}"/>
            <input type="hidden" th:field="*{modified}"/>
            <div class="padding-8">
                <label><span th:text="#{recipe.title}">Title</span> <span class="w3-text-red">*</span></label>
                <input class="w3-input w3-border" type="text" th:field="*{title}" maxlength="80">
                <label class="w3-text-red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</label>
            </div>
            <div class="padding-8">
                <label th:text="#{recipe.description}">Description</label>
                <textarea class="w3-input w3-border" th:field="*{description}" style="resize:none" maxlength="160"></textarea>
                <label class="w3-text-red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect description</label>
            </div>
            <div id="sections">
            <div class="padding-8" th:fragment="sections" th:object="${recipeSO}">
                <div>
                    <label><span th:text="#{recipe.sections}">Sections</span> <span class="w3-text-red">*</span></label>
                    <a th:href="|javascript:submitForm('recipeForm', 'sections', '@{'/recipe/sectionAdd'}', false);|" class="w3-button w3-text-green"><i class="fas fa-plus-circle"></i></a>
                </div>
                <div class="w3-border">
                    <div th:each="section,rowStat : *{sections}" class="w3-padding w3-display-container" th:classappend="${rowStat.even} ? 'w3-light-grey'">
                        <input type="hidden" th:field="*{sections[__${rowStat.index}__].id}"/>
                        <input type="hidden" th:field="*{sections[__${rowStat.index}__].sortNumber}"/>
                        <div class="padding-8">
                            <label th:text="#{recipe.section.name}">Name</label>
                            <input class="w3-input w3-border" type="text" th:field="*{sections[__${rowStat.index}__].name}" maxlength="80">
                            <label class="w3-text-red" th:if="${#fields.hasErrors('sections[__${rowStat.index}__].name')}" th:errors="*{sections[__${rowStat.index}__].name}">Incorrect name</label>
                        </div>
                        <div class="padding-8">
                            <div>
                                <label th:text="#{recipe.ingredients}">Ingredients</label>
                                <a th:href="|javascript:submitForm('recipeForm', 'sections', '@{'/recipe/ingredientAdd/__${rowStat.index}__'}', false);|" class="w3-button w3-text-green"><i class="fas fa-plus-circle"></i></a>
                            </div>
                            <div class="w3-border" th:if="*{#lists.size(sections[__${rowStat.index}__].ingredients)} > 0">
                                <div th:each="ingredient,rowStat2 : *{sections[__${rowStat.index}__].ingredients}" class="w3-display-container" th:classappend="${rowStat2.even} ? 'w3-light-grey'">
                                    <div class="padding-8 w3-row-padding">
                                        <input type="hidden" th:field="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].id}"/>
                                        <input type="hidden" th:field="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].sortNumber}"/>
                                        <div class="w3-col l6 m5 s5 padding-8">
                                            <label class="source-label"><span th:text="#{recipe.ingredient.name}">Name</span> <span class="w3-text-red">*</span></label>
                                            <input class="w3-input w3-border" type="text" th:errorclass="w3-pale-red" th:field="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].name}" maxlength="80" required>
                                            <label class="w3-text-red" th:if="${#fields.hasErrors('sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].name')}" th:errors="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].name}">Incorrect name</label>
                                        </div>
                                        <div class="w3-col l2 m3 s3 padding-8">
                                            <label class="source-label"><span th:text="#{recipe.ingredient.value}">Value</span></label>
                                            <input class="w3-input w3-border" type="number" step="0.05" th:errorclass="w3-pale-red" th:field="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].value}" required>
                                            <label class="w3-text-red" th:if="${#fields.hasErrors('sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].value')}" th:errors="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].value}">Incorrect value</label>
                                        </div>
                                        <div class="w3-col l4 m4 s4 padding-8">
                                            <label class="w3-center"><span th:text="#{recipe.ingredient.unit}">Unit</span> <span class="w3-text-red">*</span></label>
                                            <select class="w3-select w3-border" th:errorclass="w3-pale-red" th:field="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].unitId}">
                                                <option th:value="null"
                                                        class="w3-block" th:text="#{recipe.ingredient.select.value}">Select value</option>
                                                <optgroup th:each="unitCategory : ${allUnitCategoriesWithUnits}"
                                                          th:label="${unitCategory.name}">
                                                    <option th:each="unit : ${unitCategory.units}"
                                                            th:value="${unit.id}" 
                                                            th:text="${unit.name}"
                                                            class="w3-block">
                                                    </option>
                                                </optgroup>
                                            </select>
                                            <label class="w3-text-red" th:if="${#fields.hasErrors('sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].unitId')}" th:errors="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].unitId}">Incorrect unit</label>
                                        </div>
                                    </div>
                                    <a th:href="|javascript:submitForm('recipeForm', 'sections', '@{'/recipe/ingredientRemove/__${rowStat.index}__/__${rowStat2.index}__'}', false);|" style="display: inline;" class="w3-button w3-text-red w3-display-topright"><i class="fas fa-minus-circle"></i></a>
                                </div>
                            </div> 
                        </div>
                        <div class="padding-8">
                            <label><span th:text="#{recipe.method}">Method</span> <span class="w3-text-red">*</span></label>
                            <input th:field="*{sections[__${rowStat.index}__].method}" th:id="|sections__${rowStat.index}__method|" type="hidden" required></input>
                            <div th:id="|method${rowStat.index}|" class="quill-editor-div"></div>
                            <div th:id="|method${rowStat.index}length|"></div>
                            <script th:inline="javascript">
                                var id = [[${rowStat.index}]];
                                var editor = new Quill('#method' + id, getQuillEditConfiguration("#method" + id + "length", "#sections" + id + "method"));
                                var json = $("#sections" + id + "method").val();
                                if (json) {
                                    editor.setContents(JSON.parse(json));
                                }
                            </script>

                            <label class="w3-text-red" th:if="${#fields.hasErrors('sections[__${rowStat.index}__].method')}" th:errors="*{sections[__${rowStat.index}__].method}">Incorrect method</label>
                        </div>

                        <a th:if="${!rowStat.first}"  th:href="|javascript:submitForm('recipeForm', 'sections', '@{'/recipe/sectionRemove/__${rowStat.index}__'}', false);|" class="w3-button w3-text-red w3-display-topright"><i class="fas fa-minus-circle"></i></a>

                    </div>
                </div>
                <label class="w3-text-red" th:if="${#fields.hasErrors('sections')}" th:errors="*{sections}">Incorrect sections</label>
            </div>
            </div>
            <div id="associatedRecipes">
                <div class="padding-8" th:fragment="associatedRecipes">
                    <label th:text="#{recipe.associated.recipes}">Associated Recipes</label>
                    <input class="w3-input w3-border w3-padding" type="text" th:placeholder="#{recipe.associated.placeholder}" id="filteringSelect" th:onkeyup="|var fn = debounce(function() { load('filteredRecipes', '@{'/recipe/filter'}', { 'title': $('#filteringSelect').val() }, false); }, 500); fn();|" onkeypress="return event.key != 'Enter';">
                    <div th:object="${recipeSO}">
                        <div id="filteredRecipes">
                            <table class="w3-table-all" th:if="${filteredRecipes}" th:fragment="filteredRecipes">
                                <tr th:each="recipe : ${filteredRecipes}">
                                    <td>
                                        <a th:href="|javascript:submitForm('recipeForm', 'associatedRecipes', '@{'/recipe/associatedRecipe/add/__${recipe.id}__'}', false);|" class="w3-text-green w3-button"><i class="fas fa-plus-circle"></i></a> <span th:text="${recipe.title}"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table class="w3-table-all w3-margin-top" th:if="*{associatedRecipes}">
                            <tr th:each="associatedRecipe,rowStat : *{associatedRecipes}">
                                <td>
                                    <input type="hidden" th:field="*{associatedRecipes[__${rowStat.index}__].title}"></input>
                                    <input type="hidden" th:field="*{associatedRecipes[__${rowStat.index}__].id}"></input>
                                    <a th:href="|javascript:submitForm('recipeForm', 'associatedRecipes', '@{'/recipe/associatedRecipe/remove/__${rowStat.index}__'}', false);|" class="w3-button w3-text-red"><i class="fas fa-minus-circle"></i></a> <span th:text="*{associatedRecipes[__${rowStat.index}__].title}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="padding-8">
                <label><span th:text="#{recipe.categories}">Categories</span> <span class="w3-text-red">*</span></label>
                <select class="w3-select w3-border no-padding" th:errorclass="w3-pale-red" multiple th:field="*{categories}" th:size="${#lists.size(allCategories)}">
                    <option th:each="category : ${allCategories}"
                            th:value="${category.id}" 
                            th:text="${category.name}"
                            class="w3-block w3-button w3-left-align">
                    </option>
                </select>
                <label class="w3-text-red" th:if="*{#fields.hasErrors('categories')}" th:errors="*{categories}">Incorrect categories</label>
            </div>
            
            <div id="pictures">
                <div class="padding-8  w3-row" th:fragment="pictures" th:object="${recipeSO}">
                    <label th:text="#{recipe.pictures}">Pictures</label>
                    <input type="file" class="w3-input w3-border" id="pictureInput" value="Upload picture" th:onchange="|uploadPicture('recipeForm', 'pictureInput', 'pictures', '@{'/recipe/picture/save'}');|" />
                    <div class="w3-col l3 m6 s12 w3-display-container" th:each="picture,rowStat : *{pictures}">
                        <input type="hidden" th:field="*{pictures[__${rowStat.index}__].id}"></input>
                        <img th:src="@{/recipe/picture/thumbnail/__${picture.id}__}" class="uploaded-picture" th:alt="*{pictures[__${rowStat.index}__].title}" />
                        <input class="w3-input w3-border" th:field="*{pictures[__${rowStat.index}__].title}" placeholder="Insert image title"></input>
                        <a th:href="|javascript:submitForm('recipeForm', 'pictures', '@{'/recipe/picture/remove/__${rowStat.index}__'}', false);|" style="display: inline;" class="w3-button w3-text-red w3-display-topright"><i class="fas fa-minus-circle"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="padding-8">
                <div>
                    <label th:text="#{recipe.sources}">Sources</label>
                    <a th:href="|javascript:submitForm('recipeForm', 'content', '@{'/recipe/sourceAdd'}', false);|" class="w3-button w3-text-green"><i class="fas fa-plus-circle"></i></a>
                </div>
                <div class="w3-border" th:if="*{#lists.size(sources)} > 0">
                    <div th:each="source,rowStat : *{sources}" class="w3-padding w3-display-container" th:classappend="${rowStat.even} ? 'w3-light-grey'">
                        <div class="padding-8">
                            <label class="source-label"><span th:text="#{recipe.source.url}">URL</span> <span class="w3-text-red">*</span></label>
                            <input class="w3-input w3-border" type="text" th:errorclass="w3-pale-red" th:field="*{sources[__${rowStat.index}__].url}" maxlength="1000" required>
                            <label class="w3-text-red" th:if="${#fields.hasErrors('sources[__${rowStat.index}__].url')}" th:errors="*{sources[__${rowStat.index}__].url}">Incorrect url</label>
                        </div>
                        <a th:href="|javascript:submitForm('recipeForm', 'content', '@{'/recipe/sourceRemove/__${rowStat.index}__'}', false);|" class="w3-button w3-text-red w3-display-topright"><i class="fas fa-minus-circle"></i></a>
                    </div>
                </div> 
            </div>

            <div class="padding-8">
                <div th:if="*{creator}"><span th:text="#{recipe.created.by}">Created by</span> <i th:text="*{creator}">username</i> <span th:text="#{recipe.created.at}" th:if="*{created}">at</span> <i th:text="*{#temporals.format(created, 'dd.MM.yyyy HH:mm')}" th:if="*{created}">date</i>.</div>
                <div th:if="*{modifier}"><span th:text="#{recipe.modified.by}">Modified by</span> <i th:text="*{modifier}">username</i> <span th:text="#{recipe.modified.at}">at</span> <i th:text="*{#temporals.format(modified, 'dd.MM.yyyy HH:mm')}">date</i>.</div>
            </div>
            <div class="padding-8">
                <button type="submit" class="w3-button w3-light-green" th:onclick="|submitForm('recipeForm', 'content', '@{'/recipe/save'}', true);|"><i class="fas fa-save"></i>&nbsp;<span th:text="#{common.save}">Save</span></button>
                <button type="button" class="w3-button w3-red" th:if="*{id}" th:onclick="|load('content', '@{'/recipe/delete/__*{id}__'}', null, true);|"><i class="fas fa-trash-alt"></i>&nbsp;<span th:text="#{common.delete}">Delete</span></button>
                <button type="button" class="w3-button w3-red" th:onclick="|load('content', '@{'/view/categoriesPreview'}', null, true);|"><i class="fas fa-ban"></i>&nbsp;<span th:text="#{common.cancel}">Cancel</span></button>
            </div>
            <script>
                $('#searchDiv').hide();
            </script>
        </form>
    </body>
</html>
