<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="sk">
    <head th:replace="fragments/common :: htmlHeader">
    </head>
    <body>
        <form method="post" th:if="${unitSO!=null}" action="javascript:void(0);" id="unitForm" th:object="${unitSO}" th:fragment="unitForm">
            <h2 class="w3-center" th:text="#{unit.title}">Unit</h2>
            <input type="hidden" th:field="*{id}"/>
            <div class="padding-8">
                <label><span th:text="#{unit.name}">Name</span> <span class="w3-text-red">*</span></label>
                <input class="w3-input w3-border" type="text" th:field="*{name}" maxlength="80">
                <label class="w3-text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</label>
            </div>
            <div class="padding-8">
                <label><span th:text="#{unit.abbreviation}">Abbreviation</span> <span class="w3-text-red">*</span></label>
                <input class="w3-input w3-border" type="text" th:field="*{abbreviation}" maxlength="20">
                <label class="w3-text-red" th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}">Incorrect abbreviation</label>
            </div>
            <div class="padding-8">
                <input class="w3-check" type="checkbox" th:field="*{valueRequired}">
                <label th:text="#{unit.valueRequired}">Value required</label>
            </div>
            <div class="padding-8">
                <label><span th:text="#{unit.category}">Category</span> <span class="w3-text-red">*</span></label>
                <select class="w3-select w3-border" th:field="*{unitCategoryId}">
                    <option th:each="category : ${availableUnitCategories}" 
                            th:value="${category.id}" 
                            th:text="${category.name}">Category name</option>
                </select>
                <label class="w3-text-red" th:if="${#fields.hasErrors('unitCategoryId')}" th:errors="*{unitCategoryId}">Incorrect unitCategoryId</label>
            </div>
            <div class="padding-8 button-wrapper">
                <button type="submit" class="w3-button w3-light-green" th:onclick="|submitForm('unitForm', 'content', '@{'/admin/unit/save'}', true);|"><i class="fas fa-save"></i>&nbsp;<span th:text="#{common.save}">Save</span></button>
                <span class="flex-row-spacer"></span>
                <button type="button" class="w3-button w3-red" th:if="*{id}" th:onclick="|$('#modalDeleteBtn').off('click').click(function(){ load('content', '@{'/admin/unit/delete/__*{id}__'}', null, true); $('#modalDelete').hide(); }); $('#modalDelete').show();|"><i class="fas fa-trash-alt"></i>&nbsp;<span th:text="#{common.delete}">Delete</span></button>
                <span class="flex-row-spacer"></span>
                <button type="button" class="w3-button w3-amber" th:onclick="|$('#modalCancelBtn').off('click').click(function(){ load('content', '@{'/admin/unitcategory/all'}', null, true); $('#modalCancel').hide(); }); $('#modalCancel').show();|"><i class="fas fa-ban"></i>&nbsp;<span th:text="#{common.cancel}">Cancel</span></button>
            </div>
        </form>
    </body>
</html>