<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="sk">
    <head>
        <title>Recipes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" th:href="@{'/css/style.css'}">
    </head>
    <body>
        <form method="post" th:if="${unitSO!=null}" action="javascript:void(0);" id="unitForm" th:object="${unitSO}" th:fragment="unitForm">
            <h2 class="w3-center">Unit</h2>
            <input type="hidden" th:field="*{id}"/>
            <div class="padding-8">
                <label class="w3-center">Name <span class="w3-text-red">*</span></label>
                <input class="w3-input w3-border" type="text" th:field="*{name}" maxlength="255">
                <label class="w3-text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</label>
            </div>
            <div class="padding-8">
                <label class="w3-center">Abbreviation <span class="w3-text-red">*</span></label>
                <input class="w3-input w3-border" type="text" th:field="*{abbreviation}" maxlength="255">
                <label class="w3-text-red" th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}">Incorrect abbreviation</label>
            </div>
            <div class="padding-8">
                <label class="w3-center">Category <span class="w3-text-red">*</span></label>
                <select class="w3-select w3-border" th:field="*{unitCategoryId}">
                    <option th:each="category : ${availableUnitCategories}" 
                            th:value="${category.id}" 
                            th:text="${category.name}">Category name</option>
                </select>
                <label class="w3-text-red" th:if="${#fields.hasErrors('unitCategoryId')}" th:errors="*{unitCategoryId}">Incorrect unitCategoryId</label>
            </div>
            <div class="padding-8">
                <button type="submit" class="w3-button w3-light-green" th:onclick="|submitForm('unitForm', '@{'/admin/unit/save'}');|"><i class="fas fa-save"></i>&nbsp;<span>Save</span></button>
                <button th:if="*{id}" type="submit" class="w3-button w3-red" th:onclick="|submitForm('unitForm', '@{'/admin/unit/delete'}');|"><i class="fas fa-trash-alt"></i>&nbsp;<span>Delete</span></button>
                <button type="submit" class="w3-button w3-red" th:onclick="|submitForm('unitForm', '@{'/admin/unitcategory/cancel'}');|"><i class="fas fa-ban"></i>&nbsp;<span>Cancel</span></button>
            </div>
        </form>
    </body>
</html>