<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="sk">
    <head th:replace="fragments/common :: htmlHeader">
    </head>
    <body>
        <article th:object="${recipeViewSO}" th:fragment="recipeView">
            <div>
                <a class="w3-button w3-text-green absolute" th:href="|javascript:$('#content').load('@{'/view/categoriesPreview'}');|"><i class="fas fa-arrow-circle-left w3-xxlarge"></i></a>
                <h2 class="w3-center" th:text="*{title}">Recipe title</h2>
            </div>
            <input type="hidden" th:field="*{id}"/>

            <section class="padding-8" th:each="section,rowStat : *{sections}">
                <h4 th:text="*{sections[__${rowStat.index}__].name}" class="bold">Sections name</h4>
                <h5 th:if="*{not #lists.isEmpty(sections[__${rowStat.index}__].ingredients)}">Ingredients</h5>
                <ul>
                    <li th:each="ingredient,rowStat2 : *{sections[__${rowStat.index}__].ingredients}">
                        <span th:text="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].value}">Ingredient value</span> 
                        <span th:text="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].unit.abbreviation}">Ingredient unit</span>
                        <span th:text="*{sections[__${rowStat.index}__].ingredients[__${rowStat2.index}__].name}">Ingredient name</span>
                    </li>
                </ul>
                <h5 th:if="*{not #lists.isEmpty(sections[__${rowStat.index}__].ingredients)}">Method</h5>
                <div>
                    <input th:field="*{sections[__${rowStat.index}__].method}" th:id="|sections__${rowStat.index}__method|" type="hidden" required></input>
                    <div th:id="|method${rowStat.index}|" class="quill-viewer-div"></div>
                    <script th:inline="javascript">
                        var id = [[${rowStat.index}]];
                        var editor = new Quill('#method' + id, quillReadOnlyConfiguration);
                        editor.setContents(JSON.parse($("#sections" + id + "method").val()));
                    </script>
                </div>
            </section>
            <section class="padding-8" th:each="section,rowStat : *{sections}" th:if="*{not #lists.isEmpty(associatedRecipes)}">
                <h5>Serve with recipes</h5>
                <ul>
                    <li th:each="associatedRecipe,rowStat : *{associatedRecipes}" class="w3-display-container">
                        <a th:href="|javascript:$('#content').load('@{'/view/recipe/__${associatedRecipe.id}__'}');|" th:text="${associatedRecipe.title}">Recipe title</a>
                    </li>
                </ul>
            </section>
            <hr th:if="*{not #lists.isEmpty(sources)}">
            <section th:if="*{not #lists.isEmpty(sources)}">
                <h5>Sources</h5>
                <div th:each="source,rowStat : *{sources}"><i><a th:href="${source}" th:text="${source}" target="_blank">Source</a></i></div>
            </section>
            <hr>
            <div class="padding-8">
                <div th:if="*{creator}">Created by <i th:text="*{creator}">username</i><span th:if="*{created}"> at <i th:text="*{#temporals.format(created, 'dd.MM.yyyy HH:mm')}" >date</i></span>.</div>
                <div th:if="*{modifier}">Modified by <i th:text="*{modifier}">username</i><span th:if="*{modified}"> at <i th:text="*{#temporals.format(modified, 'dd.MM.yyyy HH:mm')}">date</i></span>.</div>
            </div>
        </article>
        
        <article th:fragment="categoriesPreview">
            <th:block th:each="category, rowStat : ${allCategoriesWithRecipes}" th:if="${not #lists.isEmpty(category.recipes)}">
                <h2 class="w3-center" th:id="${'category_' + category.id}" th:text="${category.name}">Category name</h2>
                <div class="w3-row-padding" th:classappend="${rowStat.last} ? 'w3-margin-bottom'">
                    <div class="w3-col l3 m6 s12 padding-bottom-16" th:each="recipe, rowStat : ${category.recipes}">
                        <div class="w3-card w3-container w3-display-container">
                            <a th:href="|javascript:$('#content').load('@{'/recipe/edit/__${recipe.id}__'}');|" style="display: inline;" class="w3-button w3-text-green w3-display-topright" sec:authorize="hasRole('USER')"><i class="fas fa-edit"></i></a>
                            <div class="w3-center"><img th:src="@{image/default_meal.jpg}" class="meal-preview-image w3-circle"></div>
                            <h3>
                                <a th:href="|javascript:$('#content').load('@{'/view/recipe/__${recipe.id}__'}');|" style="display: inline;" th:text="${recipe.title}">Recipe title</a>
                            </h3>
                            <p th:text="${recipe.description}">Recipe description</p>
                        </div>
                    </div>
                </div>
            </th:block>
        </article>
        
        <article th:fragment="recipesList">
            <h2 class="w3-center" th:text="${title}">Title</h2>
            <div class="w3-row-padding">
                <div class="w3-col l3 m6 s12 padding-bottom-16" th:each="recipe, rowStat : ${recipes}">
                    <div class="w3-card w3-container w3-display-container">
                        <a th:href="|javascript:$('#content').load('@{'/recipe/edit/__${recipe.id}__'}');|" style="display: inline;" class="w3-button w3-text-green w3-display-topright" sec:authorize="hasRole('USER')"><i class="fas fa-edit"></i></a>
                        <div class="w3-center"><img th:src="@{image/default_meal.jpg}" class="meal-preview-image w3-circle"></div>
                        <h3>
                            <a th:href="|javascript:$('#content').load('@{'/view/recipe/__${recipe.id}__'}');|" style="display: inline;" th:text="${recipe.title}">Recipe title</a>
                        </h3>
                        <p th:text="${recipe.description}">Recipe description</p>
                    </div>
                </div>
            </div>
        </article>
    </body>
</html>
