body,html{
    height: 100%;
    width:100%;
}

.w3-content{
    max-width: 1280px;
}

.top{
    position:absolute;
    top:0px;
    left:0px;
    height:54px;
    right:0px;
    overflow:hidden;
    z-index: 1;
    box-shadow: 0px 2px 5px grey;
}

.content{
    position:absolute;
    top:54px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto;
}

.menu{
    display:none;
    z-index:2;
    width:40%;
    min-width:300px;
}

.padding-right{
    padding-right: 16px;
}

.margin-bottom-16{
    margin-bottom: 16px;
}

.meal-preview-image{
    max-width: 170px;
    max-height: 170px;
    padding-top: 10px;
    object-fit: cover;
    width: 170px;
    height: 170px;
}

select[multiple] option:checked {
  background: gray linear-gradient(0deg, gray 0%, gray 100%);
}

.circle-btn{
    width: 40px;
    height: 40px;
}

.page-title{
    padding-left: 95px;
    font-weight: bolder;
}