<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="sk">
    <head th:replace="fragments/common :: htmlHeader">
    </head>
    <body>
        <nav th:replace="fragments/common :: menu('all') ">&nbsp;</nav>
        <header th:replace="fragments/common :: header ">&nbsp;</header>
        
        <main class="content">
            <div class="spacer">&nbsp;</div>
            <div class="w3-main w3-content w3-padding">
                <th:block th:each="category, rowStat : ${allCategories}" th:if="${not #lists.isEmpty(category.recipes)}">
                    <h2 class="w3-center" th:id="${'category_' + category.id}" th:text="${category.name}">Category name</h2>
                    <div class="w3-row-padding" th:classappend="${rowStat.last} ? 'w3-margin-bottom'">
                        <div class="w3-col l3 m6 s12 padding-bottom-16" th:each="recipe, rowStat : ${category.recipes}">
                            <div class="w3-card w3-container w3-display-container">
                                <a th:href="@{'/recipe/edit/__${recipe.id}__'}" style="display: inline;" class="w3-button w3-text-green w3-display-topright" sec:authorize="hasRole('USER')"><i class="fas fa-edit"></i></a>
                                <div class="w3-center"><img th:src="@{image/default_meal.jpg}" class="meal-preview-image w3-circle"></div>
                                <h3 th:text="${recipe.title}">Recipe title</h3>
                                <p th:text="${recipe.description}">Recipe description</p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </main>
    </body>
</html>
